<!DOCTYPE html>
<html lang="en">
<head>
	<title>Admin Panel</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body>

<div class="nav-side-menu">
    <div class="brand"><strong>Admin</strong> Panel</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
		<ul id="menu-content" class="menu-content collapse out">
			<li><a href="dashboard.php" class="active"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a></li>
			
			<li><a href="live-event.php"><i class="fa fa-info"></i> Event Details</a></li>
			<li><a href="questions.php"><i class="fa fa-question-circle"></i> Questions</a></li>
			<li><a href="registerreport.php"><i class="fa fa-list-ol"></i> Registered Report</a></li>
			<li><a href="loginreport.php"><i class="fa fa-list-ol"></i> Login Report</a></li>
			
			<!--<li data-toggle="collapse" data-target="#service" class="collapsed">
				<a><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
			</li>  
			<ul class="sub-menu collapse" id="service">
				<li>New Service 1</li>
				<li>New Service 2</li>
				<li>New Service 3</li>
			</ul>
			
			<li data-toggle="collapse" data-target="#new" class="collapsed">
			  <a><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
			</li>
			<ul class="sub-menu collapse" id="new">
				<li>New New 1</li>
				<li>New New 2</li>
				<li>New New 3</li>
			</ul>
			<li><a href="#"><i class="fa fa-users fa-lg"></i> Users</a></li>-->
		</ul>
    </div>
</div>
<div class="contain-main">