<?php include('header.php'); ?>


<link rel="stylesheet" href="css1/all.css">	
<script src="scripts/datepicker.js"></script>

<style type="text/css">
		.ui-highlight .ui-state-default{
			background: red !important;
			border-color: red !important;
			color: white !important;
		}
</style>
<?php 
$databasedate = mysqli_query($con, "SELECT DISTINCT date FROM member") or die(mysqli_error($con));
	$dbdate = "";
	$temp = "0";
	if(mysqli_num_rows($databasedate))
	{	
		while($dd=mysqli_fetch_array($databasedate))
		{
			if($temp == "0")
			{
				$temp = "1";
				$dbdate = "['".$dd['date']."'";
			}
			else
			{
				$dbdate = $dbdate.",'".$dd['date']."'";
			}
		}
		$dbdate = $dbdate."]";
	}
?>
<script type="text/javascript">
//var dates = ['04/01/2015','04/02/2015','04/05/2015'];
	var dates = <?php echo $dbdate; ?>;
	//alert(dates);
	$(document).ready(function(){
		jQuery('input[type=text]').datepicker({
			changeMonth : true,
			changeYear : true,
			beforeShowDay : function(date){
				var y = date.getFullYear().toString(); // get full year
				var m = (date.getMonth() + 1).toString(); // get month.
				var d = date.getDate().toString(); // get Day
				if(m.length == 1){ m = '0' + m; } // append zero(0) if single digit
				if(d.length == 1){ d = '0' + d; } // append zero(0) if single digit
				var currDate = m+'/'+d+'/'+y;
				if(dates.indexOf(currDate) >= 0){
					return [true, "ui-highlight"];	
					//todayHighlight: true;
				}else{
					return [true];
				}					
			}
		});
	})

setInterval("doReload()",60000);
	function doReload()
	{	
      	$("#result").load("registerreportall.php?select_date=<?php echo $_REQUEST[select_date]; ?>",function(data)
	  	{
      		if(data == -1)
			{
				//alert("Hello");
        		window.location.reload(true);
         	}
		});
	}
</script>

    <div>
		
		<h4 class="heading"><strong><i class="fa fa-list"></i> &nbsp; User IP</strong> Report <span></span></h4>
		<div class="main">
			<?php errormsg(); ?>
			
			<div class="form_main">
				<form class="form-horizontal" action="#" target="_blank" method="get" id="contactFrm" name="contactFrm" enctype="multipart/form-data">
					<div class="form-group">
						<div class="col-sm-3 col-xs-8 col-md-offset-3">
							<input type="text" required="" id="datepicker" placeholder="Select Date" name="select_date" class="txt">
						</div>
						<div class="col-sm-2">
							<input type="submit" value="submit" name="submit" style="padding: 8px 20px;">
						</div>
					</div>
				</form>
				<hr/>
			</div><div class="clearfix"></div>
			
			<div id="result" style="overflow-x:auto;">
				<table id="example" class="table table-striped table-bordered table-responsive" >
					<thead>
						<tr>
							<!--<th><input type="checkbox" id="select_all" name="chk_act[]" value="<?php //echo $row['id']; ?>"></th>-->
							<th>Sr.</th>
							<th>Region</th>
							<th>Membership No</th>
							<th>Name</th>
							<th>Email</th>
							<th>Mobile</th>
							<th>Location</th>
							<th>Ip</th>
							<th>Date</th>
							<th>Time</th>
						</tr>
					</thead>
					<tbody>
						
							<?php $sr=1;
							if(isset($_REQUEST["select_date"]))
							{											
								$datechaged = $_REQUEST["select_date"];
								$result = mysqli_query($con, "select * from member where `date` = '$datechaged'") or die(mysqli_error($con));
							}
							else
							{
								$result = mysqli_query($con, "select * from member") or die(mysqli_error($con));
							}
							while($r = mysqli_fetch_array($result)){
							?>
								<tr>
									<!--<td><input type="checkbox" class="chk_act" name="chk_act[]" value="<?php //echo $r['id']; ?>"></td>-->				
									<td><?php echo $sr++; ?></td>				
									<td><?php echo $r['region']; ?></td>
									<td><?php echo $r['membership_no']; ?></td>			
									<td><?php echo $r['name']; ?></td>
									<td><?php echo $r['email']; ?></td>
									<td><?php echo $r['mobile']; ?></td>
									<td><?php echo $r['location']; ?></td>
									<td><?php echo $r['ip']; ?></td>
									<td><?php echo $r['date']; ?></td>	
									<td><?php echo $r['time']; ?></td>	
									<!--<td><a href="questions.php?del=<?php //echo $r['id']; ?>" onclick="return confirm(Are you sure you want to delete?)();" class="label label-danger"><i class="fa fa-close"></i> Delete</a> </td>-->
								</tr>
							<?php } ?>
					</tbody>
				</table>
			</div>
			
			<a class="btn btn-warning" href="registerreportdownload.php?select_date=<?php echo $_REQUEST['select_date']; ?>"><span class="rows_selected">Download Report</a>
			<!--<div class="dropdown">
				<a class="btn btn-primary" onclick="check_bulk('i_delete')"><span class="rows_selected" id="select_count">0 Selected | </span>Delete</a>
				
				
				<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="rows_selected" id="select_count">0 Selected | </span>Action <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a onclick="check_bulk('i_delete')">Delete</a></li>
					<li><a onclick="check_bulk('i_active')">Active</a></li>
					<li><a onclick="check_bulk('i_inactive')">Inactive</a></li>
				</ul>
			</div>-->
			
		</div>
	</div>
<script>
function check_bulk(chk){
	//alert("Hello");
	var checkboxes = document.getElementsByName('chk_act[]');
	var vals = "";
	var n =0;
	for (var i=0, n=checkboxes.length;i<n;i++) 
	{
	  if (checkboxes[i].checked) 
	  {
		  if(vals == ""){
			  vals = checkboxes[i].value;
		  } else {
			  vals += ","+checkboxes[i].value;
		  }
	  }
	}
	
	if(vals == "")
	{
		alert('Please check minimum one checkbox');
	} else {
		var retVal = confirm("Do you want to continue ?");
		if( retVal == true ){
			window.location='?'+chk+'='+vals;
			return true;
		}
		else{
			return false;
		}
	}
}
</script>
<?php include('footer.php'); ?>
