body{ font-family: 'Montserrat', sans-serif;}
.header{border-bottom: 2px solid #152B7B;
/*/margin-bottom:50px;*/
background:#fff;}


.header h3{
	color: #152a7b;
	font-weight: bold;
	margin-top: 5px;
	text-align:right;
}
.header p{
	margin:0;
	text-align:right;
}
.instruction {
	padding-left:20px;
	line-height:21px;
	font-size:14px;
}
.webpage {
	margin-top:15px;
}
.form-group {
    margin-bottom: 0 !important;
}
.sub-main{
	border:1px solid #152B7B;
	margin-bottom:25px;
}
.sub-header{
	background:#152B7B;
	color:#fff;
	padding:10px;
}
.sub-body{
	padding:10px 20px;
}
.sub-body p{
	margin:0;
}
.wrap-login100 {
 /*background:#fff;
 border-radius:10px;*/
 overflow:hidden
}
.login100-form {
 width:100%;
 padding: 50px 30px;
border-radius: 20px;
}
.login100-form-title {
 display:block;
 font-size:39px;
 color:#152B7B;
 line-height:1.2;
 text-align:center;
 margin-bottom: 20px;
 font-weight:bold;
}
.label-input100 {
 font-size:14px;
 color:#333;
 line-height:1.5;
 padding-left:7px
}
.input100 {
 font-size:14px;
 color:#333;
 line-height:1.2;
 display:block;
 width:100%;
 background:0 0;
 padding:10px 20px;
 border:1px solid #333;
 /*margin-bottom:20px !important;*/
}
.input100:focus{border:1px solid #333;}
.focus-input100 {
 position:absolute;
 display:block;
 width:100%;
 height:100%;
 top:0;
 left:0;
 pointer-events:none
}
.login100-form-btn{
width: 100%;
background: #152B7B;
border: none;
padding: 10px;
font-size: 16px;
color: #fff;
}
.login100-form-btn:hover{background:#5F77CE;}
.input100:focus+.focus-input100::before {
 width:100%
}
.has-val.input100+.focus-input100::before {
 width:100%
}
.input100:focus+.focus-input100::after {
 color:#a64bf4
}
.has-val.input100+.focus-input100::after {
 color:#a64bf4
}

.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child){border-radius:0px;}
.gj-datepicker [role="right-icon"]{display:none !important;}



@media (max-width: 1080px){}
@media (max-width: 991px){}
@media (max-width: 768px){}
@media (max-width: 640px){
	.login100-form-title{font-size:30px;}
	.header h3{text-align:center;}
	.header p{text-align:center;}
	.login100-form { padding: 50px 10px;}
}
@media (max-width: 480px){}
@media (max-width: 320px){}